/*fonts google */ 

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* graph color */
/* 
accent color #00ffff
answer button color #d20094 - #900080
titles font Outfit (60px)
description font Inter (16px)

*/ 


*{
    border: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
/*  background */

.main-graph{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

/* logo */ 

.header img{
    width: 200px;
    margin: 30px 50px;
}

/* cazzo imbocchio che conta i secondi mancanti */ 
/* sto ancora studiando la reference */
.timer{
    display: flex;
    position: absolute;
    color: #eee;
    top: 50px;
    left: 75%;
}

.base-timer {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(85deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: #00fcfe;
  }
  
  .base-timer__path-remaining.orange {
    color: #00fcfe;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }


/* quizzone contenitore */ 
.quiz-app{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 540px;
    margin: 150px auto 20px;
    padding: 40px 30px 70px;
}

.quiz-app .container .question{
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.quiz-app .container .answer{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}


.quiz-app .container .answer .btn{
    outline: none;
    padding: 15px 50px;
    margin: 9px;
    background-color: #b3b1b21f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    border: 1px outset;
    transition: color 0.3s ease;
}
.quiz-app .container .answer .btn:hover{
    background: linear-gradient(90deg, #d20094, #900080);
}

/* footer */ 

.footer{
    color: white;
    text-align: center;
    font-size: 16px;
}

.footer .answer-number{
  display: inline;
  font-size: 20px;
  font-weight: bold;
}