/*fonts google */ 

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    /* Usa Flexbox per centrare il contenitore */
    justify-content: center;
    /* Centra orizzontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 100%;
    box-sizing: border-box;
 /* font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

header {
    width: 100%;
}

header img {
    width: 15%;
    margin-top: 35px;
    margin-left: 135px;

}

.container {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    margin-top: 50%;
    margin-left: 135px;
    margin-right: 135px;
}



 .circle {
    box-sizing: content-box;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 40px solid #00FFFF;
    border-left-color: #D20094;
    rotate: 135deg;
    position: absolute;
    align-items: center;
} 
/* NON CANCELLATE CHE VOLEVO FARE UN AGGIUNTA E COLOARRE ANCHE IL BACKGROUND IN BASE ALLA PARCENTUALE SE RIESCO
.circle {
    box-sizing: content-box;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 40px solid #00FFFF;
    border-left-color: #D20094;
    rotate: 135deg;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(
        #D20094 100%,
        #00FFFF 23%,
        transparent 80%,
        transparent 20%,
    );
    z-index: 2;
} */
.content {
    text-align: center;
    position: absolute;
    color: white;
}
.content1 {
    text-align: center;
    position: absolute;
    color: white;
}
.content h2 {
    font-size: 60px;
    padding-top: 110px;
    font-family: 'Outfit', sans-serif;
}

.content p {
    font-size: 16px;
    padding-top: 5px;
    font-family: 'Inter', sans-serif
}

button {
    margin-top: 480px;
    padding: 10px 45px 10px 45px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

.content1 p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    
}

.content1 #result{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    white-space: nowrap;
    color:  #00FFFF;
}
#result + p{
    padding-top: 20px;
}


.left-centered-div {
    position: absolute;
    left: -200%;
    color: white;
    margin-left: 20px; 
    transform: translateY(-50%);
}


.right-centered-div {
    position: absolute;
    right: -200%;
    color: white;
    padding-right: 20px; 
    transform: translateY(-50%);
}



